/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Darker background */
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .logo a {
    color: white;
    text-decoration: none;
}

header .logo a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    margin-right: -150px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #00CFC1;
}

.cta {
    background-color: #00CFC1;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.cta:hover {
    background-color: #008B74;
    box-shadow: 0 4px 8px rgba(0, 255, 255, 0.7);
}

.mission {
    padding: 50px;
    text-align: center;
    background-color: #121212;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.mission h1 {
    font-size: 2.5em;
    color: #00CFC1;
}

.mission p {
    font-size: 1.2em;
    color: #e0e0e0;
}

.team-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.team {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #1E1E1E;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 12px rgba(0, 255, 255, 0.3);
}

.team-info {
    width: 50%;
    padding: 20px;
    color: white;
}

.team-photo {
    width: 40%;
}

.team-photo img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.subteam-title {
    text-align: center;
    font-size: 24px;
    color: #00CFC1;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer .socials a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .socials a:hover {
    color: #00CFC1;
}
